{% extends "backend/layout.html"%}


{% block title%}
    <title>หน้าแรก</title>
    
{% endblock %}


{% block content %}

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">เริ่มการเขียนบทความ</h6>
                                </div>
                                <!-- Card Body -->
                                <!-- DataTales Example -->
                                <div class="card-body">
                                    <form>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">หัวข้อ</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                            <small id="emailHelp" class="form-text text-muted">การตั้งหัวข้อควรตั้งไม่เกิน 256 ตัวอักษร</small>
                                        </div>
                                        <div class=" mb-3">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                  <span class="input-group-text" id="inputGroupFileAddon01">รูปภาพหน้าปก</span>
                                                </div>
                                                <div class="custom-file">
                                                  <input type="file" class="custom-file-input" id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01" required>
                                                  <label class="custom-file-label" for="inputGroupFile01">เลือก...</label>
                                                </div>
                                            </div>
                                            <small class="form-text text-muted">ขนาดรูปภาพหน้าปกแนะนำ 1600 x 900 pixel </small>   
                                        </div>
                                                                               
                                        <div class="form-group">
                                            <label for="exampleFormControlSelect1">หมวดหมู่</label>
                                            <select class="form-control" id="exampleFormControlSelect1" required>
                                            <option>ท่องเที่ยว</option>
                                            <option>อื่น ๆ</option>
                                            </select>
                                        </div>
                                        <!-- <style>
                                            #container {
                                                width: 1000px;
                                                margin: 20px auto;
                                            }
                                            .ck-editor__editable[role="textbox"] {
                                                /* editing area */
                                                min-height: 200px;
                                            }
                                            .ck-content .image {
                                                /* block images */
                                                max-width: 80%;
                                                margin: 20px auto;
                                            }
                                        </style> -->
                                       <!--  <div class="form-group">
                                            <label for="exampleFormControlTextarea1">บทความ</label>
                                            <div id="editor"  rows="10 "></div>
                                        </div> -->
                                        <script src="//cdn.ckeditor.com/4.20.1/full/ckeditor.js"></script>
                                        <div class="form-group">
                                            <textarea type="text" name="texteditor" rows="5" class="form-control" placeholder="เนื้อหาบทความ"></textarea>
                                        </div>
                                        <script>
                                            CKEDITOR.replace('texteditor',{
                                            language: 'th',
                                            removeButtons: 'PasteFromWord'
                                            })
                                       
                                        </script>
                                        
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">แท็ก</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                                            <small id="emailHelp" class="form-text text-muted">เช่น #ท่องเที่ยว #อาหาร</small>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                                                <label class="form-check-label" for="defaultCheck1">
                                                บันทึกเป็นแบบร่าง
                                                </label>
                                            </div>
                                        </div>
                                        <hr class="divider">
                                        <div class="d-sm-flex text-center align-items-center justify-content-between">
                                            <button type="submit" class="btn btn-primary ">ตกลง</button>
                                            <button type="button" class="btn btn-secondary">ยกเลิก</button>

                                        </div>

                                    </form>

                                </div>

                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.container-fluid -->

{% endblock %}